* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  margin: 10px;
}

h1 {
  text-align: center;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#main {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

#client-list-container {
  flex: 1;
  text-align: center;
}

#client-list {
  display: flex;
  flex-direction: column;
}

.client-item {
  padding: 3px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#skill-list {
  flex: 1;
  text-align: center;
}
